
.button{
    -fx-background-color:  linear-gradient(from 0% 0% to 0% 100%, #6d97b0, #2d6f96);
    -fx-border-color: #2d6f96;
    -fx-border-radius: 1em;
    -fx-border-width: 2px;
    -fx-background-radius: 1em;
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff
}
.button:hover {
    -fx-background-color:  linear-gradient(from 0% 0% to 0% 100%, #3d6781, #1e3967);
}

.grid-tile {
    -fx-background-color: cyan;
    -fx-border-color: black
}

.grid-tile:hover {
    -fx-background-color: black;

}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}